<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Insurance Cost Prediction</title>
</head>
<body>
    <div class="container">
        <h1>Insurance Cost Prediction</h1>
        <form id="insuranceForm" method="post" onsubmit="send_data(event)">
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required>

            <label for="sex">Sex:</label>
            <select id="sex" name="sex" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>

            <label for="bmi">BMI:</label>
            <input type="number" step="0.1" id="bmi" name="bmi" required>

            <label for="children">Number of Children:</label>
            <input type="number" id="children" name="children" required>

            <label for="smoker">Smoker:</label>
            <select id="smoker" name="smoker" required>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>

            <label for="region">Region:</label>
            <select id="region" name="region" required>
                <option value="southeast">Southeast</option>
                <option value="southwest">Southwest</option>
                <option value="northeast">Northeast</option>
                <option value="northwest">Northwest</option>
            </select>

            <button type="submit">Predict Insurance Cost</button>
        </form>

        <div id="prediction" class="prediction-result"></div>
    </div>

    <script>
        function send_data(event) {
            event.preventDefault();
            var form = document.getElementById('insuranceForm');
            var formData = new FormData(form);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/predict', true);
            document.getElementById("prediction").innerHTML = "Predicting Insurance Cost...";
            xhr.onreadystatechange = function () {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    document.getElementById("prediction").innerHTML = "Predicted Insurance Cost: $" + xhr.responseText;
                }
            }
            xhr.send(formData);
        }
    </script>
</body>
</html>
